@using System;
@using CustomerPortal.Controllers;
@using Microsoft.AspNetCore.Identity;

@using System.Collections.Generic;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Text.Json;
@using System.Threading.Tasks;
@using System.Diagnostics;
@using System.Web;



@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Your Products";
}
<h1>@ViewData["Title"]</h1>

@{
    string email = UserManager.GetUserName(User);

    var customer = await CustomerController.getCustomerByEmail(email);
    @* get customer information and convert ot json *@
    var customerC = ViewBag.customer;
    var cstmer = JsonSerializer.Serialize(customerC);

    @* var buildingList = await ProductsController.getBuildingListForCustomer(customer.id); *@

    @* get buildinglist and convert to json  *@
    var buildingList = ViewBag.buildingList;
    var buildingsforCustomer = JsonSerializer.Serialize(buildingList);
    @* get batterielist and convert ot json *@
    var batterieList = ViewBag.batteryList;
    var batteriesForCustomer = JsonSerializer.Serialize(batterieList);
    @* get column list and convert to json *@
    var columnList = ViewBag.columnList;
    var columnsForCustomer = JsonSerializer.Serialize(columnList);
    @* get elevator list and convert to json *@
    var elevatorList = ViewBag.elevatorList;
    var elevatorsForCustomer = JsonSerializer.Serialize(elevatorList);

}
<div class="row">

    <div class="col-md-2" id="building-div">
         <ul id="building-list">
       
        </ul> 
    </div>
    <div class="col-md-2" id="batterie-div">
        <h6 id="batterie-title">Batteries</h6>
        <ul id="batterie-list">
       
        </ul>
    </div>
    <div class="col-md-2" id="column-div">
        <h6 id="column-title">Columns</h6>
        <ul id="column-list">
       
        </ul>
    </div>
    <div class="col-md-2" id="elevator-div">
        <h6 id="elevator-title">Elevators</h6>
        <ul id="elevator-list">
       
        </ul>
    </div>
    @* defalt information is customer information *@
    <div class="col-md-4" id="information-display">
        <h5>Your Information</h5>
        <ul>
            <li>@customer.company_name</li>
            <li>address : @customer.company_headquarter_address</li>
            <li>phone : @customer.company_contact_phone</li>
            <li>email : @customer.email_company_contact</li>
            <li>technical contact : @customer.full_name_service_technical_authority</li>
            <li>tec phone : @customer.technical_authority_phone</li>
            <li>tec email : @customer.technical_manager_email</li>
        </ul>    
    </div>
</div>
<script>
    
    //parse customer info from json to be able to work with it
    var customerclass = JSON.parse('@cstmer'.replace(/&quot;/g,'"'));
    console.log(customerclass);
    //parse building list from json to be able to work with it 
    var buildingList = JSON.parse('@buildingsforCustomer'.replace(/&quot;/g,'"'));
    console.log(buildingList);
    //parse batterie list from json to be able to work with it
    var batterieList = JSON.parse('@batteriesForCustomer'.replace(/&quot;/g,'"'));
    //parse columnList from json to be able to work with it
    var columnList = JSON.parse('@columnsForCustomer'.replace(/&quot;/g,'"'));
    //parse elevatorList from json to be able to work with it
    var elevatorList = JSON.parse('@elevatorsForCustomer'.replace(/&quot;/g,'"'));

    function populateBuildingDiv(){
        //prepend a title to the section
        $("<h6>Buildings</h6>").prependTo("#building-div");

        //each building gest its list item
        $.each(buildingList, function(i, building){
            var idString = `building-${i}`;
            $(`<li class="building-list-element" id=${idString}>${building.address_of_the_building}</li>`)
                .appendTo("#building-list");
        });
    };
    function populateBatterieDiv(buildingId){
        //prepend a title to the section
        $("#batterie-title").show(500);
        //remove all previous list elements
        $(".batterie-list-element").remove();
        // reduce the batterie list to what is needed 
        var batterieForBuilding = [];
        $.each(batterieList, function(i,batterie){
            console.log(batterie)
            if (batterie.building_id == buildingId)
            {
                batterieForBuilding.push(batterie);
            }
        });
        console.log(batterieForBuilding)
        // add each batterie from final list to displayed list
        $.each(batterieForBuilding, function(i, batterie){
            var idString = `batterie-${i}`;
            $(`<li class="batterie-list-element" id=${idString}>number : ${batterie.id},</br> op certificate : ${batterie.operations_certificate}</li>`)
                .appendTo("#batterie-list");
        });
    };
    function populateColumnDiv(batterieId){
        //prepend a title to the section
        $("#column-title").show(500);
        //remove all previous list elements
        $(".column-list-element").remove();
        // reduce the column list to what is needed 
        var columnForBatterie = [];
        $.each(columnList, function(i,column){
            console.log(column)
            if (column.battery_id == batterieId)
            {
                columnForBatterie.push(column);
            }
        });
        console.log(columnForBatterie)
        // add each column from final list to displayed list
        $.each(columnForBatterie, function(i, column){
            var idString = `column-${i}`;
            $(`<li class="column-list-element" id=${idString}>number : ${column.id},</br> in batterie : ${column.battery_id}</li>`)
                .appendTo("#column-list");
        });
    };
    function populateElevatorDiv(columnId){
            
        //prepend a title to the section
        $("#elevator-title").show(500);
        //remove all previous list elements
        $(".elevator-list-element").remove();
        // reduce the column list to what is needed 
        var elevatorForColumn = [];
        $.each(elevatorList, function(i, elevator){
            console.log(elevator)
            if (elevator.column_id == columnId)
            {
                elevatorForColumn.push(elevator);
            }
        });
        console.log(elevatorForColumn)
        // add each column from final list to displayed list
        $.each(elevatorForColumn, function(i, elevator){
            var idString = `elevator-${i}`;
            $(`<li class="elevator-list-element" id=${idString}>number : ${elevator.id},</br> in column : ${elevator.column_id}</li>`)
                .appendTo("#elevator-list");
        });
   

    };

    function ColumnEvents(){
       $.each(columnList,function(i,column){
            var BListId = `#column-${i}`;
            // on click color will change
            $(BListId).click(function(){
                //change the text back to black
                $(".column-list-element").css({"color": "black","background-color":"white","word-wrap":"break-word","padding":"5px"})
                //color the selected item
                $(BListId).css({"color":"blue", "background-color":"CornflowerBlue"})
                //display information in information div
                $("#information-display")
                .html("<h5>Column Information</h5>"+
                   "<ul>" +
                        `<li>number : ${column.id}</li>` +
                        `<li>in battery : ${column.battery_id}</li>` +
                        `<li>building type: ${column.type_of_building}</li>` +
                        `<li>status : ${column.status}</li>` +
                        `<li>number of floors served : ${column.number_of_floors_served}</li>` +
                        `<li>information: ${column.information}</li>` +
                        `<li>notes: ${column.notes}</li>` +
                   "</ul>"   
                );
                //store column Id to call api
                var columnId = column.id;
                console.log(columnId);
                populateElevatorDiv(columnId);

            })
        });                
    }
    function batteriEvents(){
        $.each(batterieList,function(i,batterie){
            var BListId = `#batterie-${i}`;
            // on click color will change
            $(BListId).click(function(){
                //change the text back to black
                $(".batterie-list-element").css({"color": "black","background-color":"white","word-wrap":"break-word","padding":"5px"})
                //color the selected item
                $(BListId).css({"color":"blue", "background-color":"CornflowerBlue"})
                //display information in information div
                $("#information-display")
                .html("<h5>Battery Information</h5>"+
                   "<ul>" +
                        `<li>number : ${batterie.id}</li>` +
                        `<li>in building : ${batterie.building_id}</li>` +
                        `<li>building type: ${batterie.type_of_building}</li>` +
                        `<li>status : ${batterie.status}</li>` +
                        `<li>Technician id : ${batterie.employee_id}</li>` +
                        `<li>information: ${batterie.information}</li>` +
                        `<li>notes: ${batterie.notes}</li>` +
                        `<li>last inspection: ${batterie.last_inspection_date}</li>` +


                   "</ul>"   
                );

                //empty irrelevent fields
                $(".elevator-list-element").remove();
                $("#elevator-title").hide();

                //store batterie Id to call api
                var batteriId = batterie.id;
                console.log(batteriId);
                populateColumnDiv(batteriId);
                ColumnEvents();

            })
        });                
    }


    //DOM READY
    $(function(){
        $("#column-title").hide();
        $("#batterie-title").hide();
        $('#elevator-title').hide();
        $("#information-display").css("background-color","mistyRose");
        populateBuildingDiv();

        // eventlisteners determined dinamically for the buildings
        $.each(buildingList,function(i,building){
            var ListId = `#building-${i}`;
            // on click color will change
            $(ListId).click(function(){
                //change the text back to black
                $(".building-list-element").css({"color": "black","background-color":"white","word-wrap":"break-word","padding":"5px"})
                //color the selected item
                $(ListId).css({"color":"blue", "background-color":"CornflowerBlue"})
                //display information in information div
                $("#information-display")
                .html("<h5>Building Information</h5>"+
                   "<ul>" +
                        `<li>address : ${building.address_of_the_building}</li>` +
                        `<li>building administrator : ${building.full_name_of_the_building_administrator}</li>` +
                        `<li>administrator phone : ${building.phone_number_of_the_building_administrator}</li>` +
                        `<li>Technical contact : ${building.full_name_of_the_technical_contact_for_the_building}</li>` +
                        `<li>Technician phone : ${building.technical_contact_email_for_the_building}</li>` +
                        `<li>Technician email : ${building.technical_contact_phone_for_the_building}</li>` +
                   "</ul>"   
                );
                //empty irrelevent fields
                $(".column-list-element").remove();
                $("#column-title").hide();
                $(".elevator-list-element").remove();
                $("#elevator-title").hide();


                //store Buidling Id to call api
                var buildingId = building.id;
                console.log(buildingId);
                populateBatterieDiv(buildingId);
                batteriEvents();
        
            })
        });
    }); 
</script>