@using System;
@using CustomerPortal.Controllers;
@using Microsoft.AspNetCore.Identity;

@using System.Collections.Generic;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Text.Json;
@using System.Threading.Tasks;
@using System.Diagnostics;
@using System.Web;


@model CustomerPortal.Models.Intervention; 
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Your Products";
}
<h1>@ViewData["Title"]</h1>

@{
    //get information from backend for the different displays

    string email = UserManager.GetUserName(User);

    var customer = await CustomerController.getCustomerByEmail(email);
    @* get customer information and convert ot json *@
    var customerC = ViewBag.customer;
    var cstmer = JsonSerializer.Serialize(customerC);

    @* var buildingList = await ProductsController.getBuildingListForCustomer(customer.id); *@

    @* get buildinglist and convert to json  *@
    var buildingList = ViewBag.buildingList;
    var buildingsforCustomer = JsonSerializer.Serialize(buildingList);
    @* get batterielist and convert ot json *@
    var batterieList = ViewBag.batteryList;
    var batteriesForCustomer = JsonSerializer.Serialize(batterieList);
    @* get column list and convert to json *@
    var columnList = ViewBag.columnList;
    var columnsForCustomer = JsonSerializer.Serialize(columnList);
    @* get elevator list and convert to json *@
    var elevatorList = ViewBag.elevatorList;
    var elevatorsForCustomer = JsonSerializer.Serialize(elevatorList);

}
<div class="row">

    <div class="col-md-2" id="building-div">
         <ul id="building-list">
       
        </ul> 
    </div>
    <div class="col-md-2" id="batterie-div">
        <h6 id="batterie-title">Batteries</h6>
        <ul id="batterie-list">
       
        </ul>
    </div>
    <div class="col-md-2" id="column-div">
        <h6 id="column-title">Columns</h6>
        <ul id="column-list">       
        </ul>
    </div>
    <div class="col-md-2" id="elevator-div">
        <h6 id="elevator-title">Elevators</h6>
        <ul id="elevator-list">
       
        </ul>
    </div>
    <div class="col-md-4" id="information section">
        @* default information is customer information *@
        <div class="row" id="information-display">
            <h5>Your Information</h5>
            <ul>
                <li>@customer.company_name</li>
                <li>address : @customer.company_headquarter_address</li>
                <li>phone : @customer.company_contact_phone</li>
                <li>email : @customer.email_company_contact</li>
                <li>technical contact : @customer.full_name_service_technical_authority</li>
                <li>tec phone : @customer.technical_authority_phone</li>
                <li>tec email : @customer.technical_manager_email</li>
            </ul> 
            <a class="btn btn-outline-danger m-auto" asp-area="" asp-controller="Customer" asp-action="ChangeInfo">Change information</a>
        </div>
        <div class="row">
                @using (Html.BeginForm( "intervention", "Products", FormMethod.Post))
                {
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th colspan="2" align="center">intervention details</th>
                        </tr>
                        <tr>
                            <td>customerId: </td>
                            <td>
                                @Html.TextBoxFor(m => m.customer_id, new { @readonly="readonly" } )
                            </td>
                        </tr>
                        <tr>
                            <td>buildingId </td>
                            <td>
                                @Html.TextBoxFor(m => m.building_id, new { @readonly="readonly" })
                            </td>
                        </tr>
                        <tr>
                            <td>batteryID </td>
                            <td>
                                @Html.TextBoxFor(m => m.battery_id, new { @readonly="readonly" })
                            </td>
                        </tr>
                        <tr>
                            <td>ColumnId: </td>
                            <td>
                                @Html.TextBoxFor(m => m.column_id, new { @readonly="readonly" })
                            </td>
                        </tr>
                        <tr>
                            <td>ElevatorId: </td>
                            <td>
                                @Html.TextBoxFor(m => m.elevator_id, new { @readonly="readonly" })
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Request Intervention"class="btn btn-lg btn-outline-primary m-auto"/></td>
                        </tr>
                    </table>
                }
            @* <button type="button" class="btn btn-lg btn-outline-primary m-auto">
                Request Intervention
            </button> *@
        </div>
    </div>
</div>
<script>
    
    // get information from c# for js file

    //parse customer info from json to be able to work with it
    var customerclass = JSON.parse('@cstmer'.replace(/&quot;/g,'"'));
    console.log(customerclass);
    //parse building list from json to be able to work with it 
    var buildingList = JSON.parse('@buildingsforCustomer'.replace(/&quot;/g,'"'));
    console.log(buildingList);
    //parse batterie list from json to be able to work with it
    var batterieList = JSON.parse('@batteriesForCustomer'.replace(/&quot;/g,'"'));
    //parse columnList from json to be able to work with it
    var columnList = JSON.parse('@columnsForCustomer'.replace(/&quot;/g,'"'));
    //parse elevatorList from json to be able to work with it
    var elevatorList = JSON.parse('@elevatorsForCustomer'.replace(/&quot;/g,'"'));

</script>
<script src="~/js/Products.js" asp-append-version="true"></script>
